.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') HTML5 Hacks: Multimedia
      .nav-collapse
        ul.nav
          li
            a(href='/example1') Embed
          li
            a(href='/example2') Custom Controls
          li
            a(href='/example3') Background
          li
            a(href='/example4') Subtitles