style
    #hiddenCanvas {display: none}
    #displayCanvas {
        background-image: url(../../examples/photo.jpg);  
        background-repeat: no-repeat; 
        background-position: left -20px;
    }
.container
    header#overview.jumbotron
        h2 Hack #31 Replace the Background of Your HTML5 Video with the canvas Tag 
        .row
            .span5
                video#sourceVideo(src='/examples/mdy.m4v', width='320', height='192', controls='true')
                canvas#hiddenCanvas(width='640', height='386')
            .span5
                canvas#displayCanvas(width='640', height='386')

script(type='text/javascript')
    var sourceVideo = document.getElementById("sourceVideo");
    var hiddenCanvas = document.getElementById("hiddenCanvas");
    var displayCanvas = document.getElementById("displayCanvas");
    var hiddenContext = hiddenCanvas.getContext ("2d");
    var displayContext = displayCanvas.getContext ("2d");

    sourceVideo.addEventListener('play', function(){runAnalysis();});

    var runAnalysis = function(){
         if(sourceVideo.paused || sourceVideo.ended){
          return
        }
        frameConversion();
        setTimeout(function() {
                runAnalysis();
            }, 0);
         };

        var frameConversion = function(){
        
        hiddenContext.drawImage(sourceVideo,0,0,sourceVideo.videoWidth, sourceVideo.videoHeight);
        
        var frame = hiddenContext.getImageData(0,0,sourceVideo.videoWidth, sourceVideo.videoHeight);
        
        var length = frame.data.length;
        for (var i =0; i <length; i++){
            var r = frame.data [i * 4 + 0];
        var g = frame.data [i * 4 + 1];
        var b = frame.data [i * 4 + 2];
        
        if(g > 110 && g < 200 && r < 190 && r > 100 && b < 200 && b > 110){  
        frame.data[i * 4 + 3] = 0; 
        } 
            }
        displayContext.putImageData(frame, 0, 0);
        return
        };


