.container
  ul
    li
      a(href='/example1') Hack #28 Embed Video Directly in Your Application with HTML5 Video
    li
      a(href='/example2') Hack #30 Create Custom Video Controls with Video APIs
    li
      a(href='/example3') Hack #31 Replace the Background of Your HTML5 Video with the canvas Tag 
    li
      a(href='/example4') Hack #32 Add Subtitles to Your HTML5 Video Element
      
    script(src='assets/js/jquery.js')
    script(src='assets/js/google-code-prettify/prettify.js')
    script(src='assets/js/bootstrap-transition.js')
    script(src='assets/js/bootstrap-alert.js')
    script(src='assets/js/bootstrap-modal.js')
    script(src='assets/js/bootstrap-dropdown.js')
    script(src='assets/js/bootstrap-scrollspy.js')
    script(src='assets/js/bootstrap-tab.js')
    script(src='assets/js/bootstrap-tooltip.js')
    script(src='assets/js/bootstrap-popover.js')
    script(src='assets/js/bootstrap-button.js')
    script(src='assets/js/bootstrap-collapse.js')
    script(src='assets/js/bootstrap-carousel.js')
    script(src='assets/js/bootstrap-typeahead.js')
    script(src='assets/js/application.js')
